.footer-wrapper {
	text-align: center;
	color: #ffffff;
	height: 200px;
	background-color: #000000;
}

.footer-logo {
	margin-top: 60px;
	height: 36px;
}

.footer-credit {
	margin-top: 40px;
	font-weight: 500;
	font-size: 12px;
}