@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
	font-family: 'Montserrat', sans-serif;
	font-size: 4vw;

}

h1 {
	@include title-typography;
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	height: auto;
}

a:hover{
	color: #ff6060;
	text-decoration: underline;
}

header,
section {
	padding-right: 1.25rem;
	padding-bottom: 1.25rem;
	padding-left: 1.25rem;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

@media only screen and (min-width: 768px) {
	html {
		font-size: 1rem;
	}

	body {
		font-size: 1rem;
	}

	header,
	section {
		max-width: 1240px;
		min-height: unset;
		margin: 0 auto;
	}
}