.error {
	text-align: center;
}

.error-code {
    margin-top: 6rem;
    margin-bottom: 0.6875rem;
    color: #ff6060;
    font-size: 6rem;
    font-weight: 700;
    line-height: 142.6%;
}

.error-message {
    margin: 0 auto;
    margin-top: 0.625rem;
    color: #ff6060;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 142.6%;
}

.error-link {
    display: block;
    margin-top: 5.5rem;
    margin-bottom: 5.5rem;
    color: #ff6060;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 142.6%;
    text-decoration-line: underline;
}

@media only screen and (min-width: 768px) {
    .error-code {
        margin-top: 4rem;
        margin-bottom: 2rem;
        font-size: 14rem;
        line-height: 100%;
    }

    .error-message{
        font-size: 2.25rem;
    }

    .error-link {
        margin-top: 5rem;
        margin-bottom: 5rem;
        font-size: 1.125rem;
    }
}